.answerchoice {
    border: 1px solid black;
    border-radius: 5%;
        width: 40%;
        color:black;
    text-align: center;
    margin: 10px auto;
    font-size: 20px;
    background-color: white;
    
}

img {
    max-height: 250px;
    width: auto;
}

#answerblock {
    text-align: center;
}

#questionblovk {
    text-align: center;
    font-weight: bold;
}

#reset {
    visibility: visible;
}

body {
    background-image: url("../images/Avengers-Endgame-4k-hd-image.jpg");
    background-size: cover;
    font-family: 'Noto Sans TC', sans-serif;
}

h1 {
    text-align: center;
    color: white;
    font-weight: bolder;
    padding: 20px;
    font-size: 45px;
}

p {
    margin: 10px;
    font-weight: bold;
    color: black;
    font-size: 20px;
}

h2, h4 {
    margin: 30px;
    font-weight: bold;
}

.wrapper {
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid #403fd3;
    height: 500px;
    width: 60%;
    text-align: center;
}

.btn {
    position: relative;
    bottom: -150px;
}